# File di database locali
# schedario.db è intenzionalmente tracciato per essere disponibile nel repo.
# *.db
# *.sqlite
# *.sqlite3

# File Excel generati o di test
ATTIVITA_PROGRAMMATE.xlsm

# File di configurazione locali
secrets.toml
credentials.json

# Directory e file di cache di Python
__pycache__/
*.pyc
*.pyo
*.pyd

# File di output e log
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Dipendenze
node_modules/
dist/
build/