{
  "type": "service_account",
  "project_id": "ID_DEL_TUO_PROGETTO_GOOGLE_CLOUD",
  "private_key_id": "ID_CHIAVE_PRIVATA",
  "private_key": "-----BEGIN PRIVATE KEY-----\\nCHIAVE_PRIVATA_QUI\\n-----END PRIVATE KEY-----\\n",
  "client_email": "NOME_ACCOUNT_SERVIZIO@ID_PROGETTO.iam.gserviceaccount.com",
  "client_id": "ID_CLIENT",
  "auth_uri": "https://accounts.google.com/o/oauth2/auth",
  "token_uri": "https://oauth2.googleapis.com/token",
  "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
  "client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/NOME_ACCOUNT_SERVIZIO%40ID_PROGETTO.iam.gserviceaccount.com"
}