services:
  app:
    build: .
    ports:
      - "8501:8501"
    volumes:
      - .:/app
    command: sh -c "python crea_database.py && streamlit run app.py --server.port=8501 --server.address=0.0.0.0"

  ngrok:
    image: ngrok/ngrok:latest
    ports:
      - "4040:4040"
    environment:
      - NGROK_AUTHTOKEN=${NGROK_AUTHTOKEN}
    command: http --domain opencircuit-grimily-mirta.ngrok-free.app app:8501
    depends_on:
      - app
